<section class="course" fxLayoutAlign="center">
  <form (ngSubmit)="onAddStudent(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center">Enter details</mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Name"
            ngModel
            name="studentName"
            required
            #nameInput="ngModel"
            />
            <mat-error *ngIf="nameInput.hasError('required')">Field must not be empty.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
            type="text"
            matInput
            placeholder="Roll number"
            ngModel
            required
            name="rollNumber"
            #rnInput="ngModel"
          />
          <mat-error>Missing roll number.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select
            placeholder="Choose course"
            ngModel
            name="course"
            required
          >
            <mat-option *ngFor="let course of courses" [value]="course">
              {{ course.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button type="submit" color="primary" mat-button [disabled]="f.invalid">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
